.table-row-seller {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2.4rem;
  align-items: center;
  padding: 1.4rem 2.4rem;
  color: #646464;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}

.table-row-seller.selected {
  border-color: #96d0ff;
  background-color: #cce8ff;
}

.table-row:last-child {
  margin-bottom: 0;
}

.author {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-grey-600);
  display: flex;
  gap: 1.4rem;
}

.hq-address {
  text-align: center;
}
